@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --bg-color: #FFF;
    --color-primary: #030f27;
    --color-second: #fdbe33;
    --color-text: #666666;
    --color-text-second: #FFF;
    --max-width: 1366px;
}

/* CONFIGURAÇÂO PADRÃO */
body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: #FFF;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* Ativa o efeito de rolagem suave */
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--bg-color);
    position: sticky;
    top: 0;
    /* Define que o header deve ficar a 0 pixels do topo da viewport */
    z-index: 1000;
    /* Garante que o header fique acima de outros elementos */
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a.logo {
    width: auto;
    height: 100px;
}

header nav a.logo img {
    height: 100%;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    gap: 20px;
}

header ul li {
    font-size: 16px;
    line-height: 22.5px;
    cursor: pointer;
    transition: all ease 0.5s;
    padding-bottom: 2px;
}

header ul li a {
    text-decoration: none;
    color: var(--bg-color);
}

header ul li:hover {
    color: var(--color-second);
}

/* MAIN */

main {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

main .slider {
    flex: 1;
}

main .cards {
    height: 250px;
    background-color: var(--color-primary);
    color: var(--bg-color);
}

main .cards .card-info-container {
    display: flex;
    align-items: center;
    height: 100%;
}

main .cards .card-info-container .card-info {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 30px;
}

.card-img img {
    width: 60px;
    height: auto;
}

.card-info-text h3 {
    color: var(--color-second);
    font-weight: bold;
}

.card-info-text p {
    font-size: 1.8rem;
    color: var(--color-second);
}

.cards .bg-second {
    background-color: var(--color-second);
    color: var(--color-primary);
}

.cards .card-info.bg-second>.card-info-text h3,
.card-info.bg-second>.card-info-text p {
    color: var(--color-primary);
}

/* MAIN SLIDER */

main .slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main .slider .slider--width {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all ease 1s;
}

main .slider .slider--width .slider--item {
    height: inherit;
    position: relative;
    width: 100vw;
}

main .container-slider {
    max-width: var(--max-width);
}

main .slider-1 {
    background-image: url('../images/surf-40-compressed.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .slider-2 {
    background-image: url('../images/surf-49-compressed.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main .slider-3 {
    background-image: url('../images/surf-47-compressed.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main div.slider-bg-coverDark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* fundo preto translúcido */
    z-index: 1;
    /* para garantir que fique atrás do texto */
}

main article.slider--corrent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main h1 {
    font-size: 7.5rem;
    color: #FFF;
    margin-bottom: 15px;
}

main h3 {
    font-size: 2.4rem;
    color: #FFF;
    margin-bottom: 15px;
}

.btn {
    text-transform: uppercase;
    padding: 15px 35px;
    background: var(--color-second);
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-primary);
    border: 2px solid var(--color-second);
    transition: .3s;
    cursor: pointer;
}

button.btn:hover {
    opacity: 0.9;
}

/* SOBRE */
section#sobre {
    padding: 45px 0;
}

section#sobre .container {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

section#sobre .sobre-img {
    height: 508px;
    width: 445px;
}

section#sobre .sobre-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#sobre .sobre-info {
    font-size: 16px;
    max-width: 600px;
}

section#sobre .sobre-info h2 {
    font-size: 5rem;
    margin-bottom: 30px;
}

section#sobre .sobre-info p {
    margin-bottom: 10px;
}

section#sobre .sobre-info .btn {
    margin-top: 10px;
}